<div class="box-body hide row border-top-blue">
    <div class="col-6 d-flex justify-content-center">
        <p>{% translate "DeviceType" %}: {{ result.get_device_type_display }}</p>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <p>{% translate "Credentials" %}: {{ result.credential }}</p>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dark-gray-color">SW Version</a>
                <ul>
                    <li>
                        <a>16.12.2t</a>
                    </li>
                    <li>
                        <a>16.12.2t</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dark-gray-color">SW Version</a>
                <ul>
                    <li>
                        <a>16.12.2t</a>
                    </li>
                    <li>
                        <a>16.12.2t</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dark-gray-color">SW Version</a>
                <ul>
                    <li>
                        <a>16.12.2t</a>
                    </li>
                    <li>
                        <a>16.12.2t</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>